<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta property="og:title" content="Stage Diving" />
<meta property="og:description" content="description" />
<meta property="og:type" content="musician" />
<meta property="og:url" content="http://localhost:8084/final/main.html" />
<meta property="og:image" content="thumbnail_image" />
<meta property="og:site_name" content="Stage Diving" />
<meta property="fb:admins" content="100002821370702" />
<title>Stage Diving</title>


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
<script src="{{ STATIC_URL }}js/jquery.sticky.js"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"> </script>
<script type="text/javascript" src="{{ STATIC_URL }}js/separate_poster_view.js"></script>
<script type="text/javascript" src="http://swfobject.googlecode.com/svn/trunk/swfobject/swfobject.js"></script>



<link href="{{ STATIC_URL }}css/poster_view2.css" rel="stylesheet" type="text/css" />
<link href="{{STATIC_URL}}icons/SDicon.png" rel="shortcut icon">
</head>

<body >

<div id="poster_view">
<div id="header">


<span id="close_poster_view" ></span>

</div>


<div id="main">
<div id="left">
	<image id="poster" src="#">
	
</div>
<div id="right">
    <div id="event_poster">{{event.poster}}</div>
	<div class="date">{{event.on_date|date:"D d M Y"}}
    </div>
    <div class="artists">
        {% for artist in event.artists.all %}
        <div > {{artist}} </div>
        {% endfor %}
    </div>
    <div id="poster_view_main_info">
        <div id="town_info_small">
            Πόλη: <span id="poster_view_town">{{event.venue.city}}</span>
        </div>
        <div id="time_info_small">
            Ώρα: <span id="poster_view_time">{{event.on_date|date:"H i"}}</span>
        </div>
        <div id="venue_info_small">
            Χώρος: <span id="poster_view_venue">{{event.venue.name}}</span>
        </div>
        <div id="entrance_info_small">
            Είσοδος: <span id="poster_view_entrance">{{event.price|floatformat:"-3"}}</span>
        </div>
    </div>


     <div id="attend">
    <div id="attend_number">{{event.attends}}</div>
    </div>


    <div id="shares">
    <div id="facebook"><div id="facebook_share"></div><div class="fac_lett">Facebook</div></div>
    <div id="twitter"><div id="twitter_share"></div><div id="twit_lett">Twitter</div></div>
    <div id="google"><div id="share"></div><div id="share_lett">Share</div></div>
    </div>
   

    <div id="venue_info">
        <div class="venue_name">{{event.venue.name}}</div>
        <div id="venue_address">{{event.venue.address}}</div>
        <div id="venue_city">{{event.venue.city}}</div>
        <div id="venue_country">{{event.venue.country}}</div>
        <!--<span class="about">About Venue :</span></br>
        <div id="info">I played cymbals. I played tenor drum. I played mellophone, French horn, trumpet, a little bit of clarinet and a little bit of snare. I got into music really by being in the marching band.</div>-->
        <div id="map">
        <div id="map_icon" class="map_open" > </div>
        <div class="fac_lett map_open" > Show Map</div>
        <div class="map_canvas">
        <div id="map_canvas" style="  width: 476px; height: 294px; float: right; margin-top:20px;"></div>
       </div>
        </div>
    </div>


   <hr/>
   <div class="artists_details"></div>
    </div>
</div>

</div>

</body>
</html>
