<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta property="og:title" content="Stage Diving" />
<meta property="og:type" content="musician" />
<meta property="og:url" content="http://stagediving.gr" />
<meta property="og:image" content="thumbnail_image" />
<meta property="og:site_name" content="Stage Diving" />
<meta property="fb:admins" content="100002821370702" />
<meta property="og:image" content="http://stagediving.gr/static/icons/SDicon.png"/>
<meta property="og:image:secure_url" content="http://stagediving.gr/static/icons/SDicon.png" />

<title>Stage Diving</title>
</head>
<body>

  <p>The Service may include hyperlinks to other web sites that are not owned or controlled by StageDiving. StageDiving has no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third party websites.</p>

<H2 style="text-decoration: underline">StageDiving accounts</H2>

 <p>You agree that you will be solely responsible (to StageDiving, and to others) for all activity that occurs under your StageDiving account.</p>
  <p>You understand and agree that you are solely responsible for your own Content and the consequences of posting or publishing it. StageDiving does not endorse any Content or any opinion, recommendation, or advice expressed therein, and StageDiving expressly disclaims any and all liability in connection with Content.</p>
  <p>You acknowledge and agree that StageDiving is not responsible for the availability of any such external sites or resources, and does not endorse any advertising, products or other materials on or available from such web sites or resources.</p>
  <p>You also agree to receive periodic emails and notifications from StageDiving. You will always be able to unsubscribe from these newsletters</p>
  </body>
  </html>